rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Aile uygulaması: istemci aile şifresi ile korur.
    // İsterseniz sonra Anonymous Auth ile sıkılaştırabilirsiniz.
    match /groups/{groupId}/{document=**} {
      allow read, write: if true;
    }
  }
}
